<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            block title
        {% endblock  %}
    </title>
</head>
<body>
{% block body %}
    block body
{% endblock %}
<footer>
            <div>
                <div>
                    <div class="footer-container">
                        <span>compact_00@mail.ru</span>
                    </div>
                    <div class="footer-container">
                        <span>+375 29 860 45 26</span>
                    </div>
                </div>
                <div>
                    <div>
                        <button class="light-button open-popup">Написать на email</button>
                        <div class="footer-container">
                            <a href="#"><img src="images/github.png" alt=""></a>
                            <a href="#"><img src="images/link.png" alt=""></a>
                            <a href="https://github.com/archibaldlazarevich"><img src="images/telegram.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
</body>
</html>