{% extends 'weather_site/base.html' %}
{% load static %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<style>
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 70vh;
        text-align: center;
    }

    .weather-btn {
        width: 30%;
        padding: 20px 0;
        background: #5057a0;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 30px;
        font-weight: 600;
        cursor: pointer;
        transition: background 0.2s;
        margin: 10px auto;
        text-align: center;
    }
    .weather-btn:hover {
        background: #3b3f66;
    }
    a-button {
    text-decoration: none;
    }

</style>

<main>
    <a class="a-button" href="{% url 'weather_data' %}">
    <button class="weather-btn" type="button">Узнать прогноз погоды</button>
    </a>
</main>

{% endblock %}
